@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply border border-primary bg-primary text-gray-700 transition-opacity duration-150 hover:bg-opacity-85;
	}
}
